@model IEnumerable<Payment>

@section head{
    <link href="/css/myTicket.css" rel="stylesheet" />
    <style>
        .filters input, .filters select {
            color: black;
        }
    </style>
}

<form data-ajax="true"
      data-ajax-update="#target"
      id="ajaxForm">
<div class="filters">
    
        @Html.TextBox("search", "", new { type = "search", autofocus = "", data_trim = "", placeholder = "Search by Member ID or Member Email" })
        <input type="month" value="@DateTime.Today" name="selectedMonth" id="selectedMonth" />
        <select name="status" id="status">
            <option value="">All Status</option>
            <option value="Paid">Paid</option>
            <option value="Refund">Refund</option>
        </select>
        <button class="btn-primary">Search</button>
    
</div>
</form>

<div id="target">
    <partial name="_PaymentList" />
</div>

@section Scripts {
    <script>
        
        let timer = null;

        $('#search').on('input', e => {
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(),500);
        });

        $(document).on('change', 'select, input[type="month"]', e => {
            $(e.target.form).submit()
        })
    </script>
}