@model ChangePasswordVM
@{
    ViewData["Title"] = "Reset Password";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="container mt-5">
    <h1 class="mb-4 text-center">Change Your Password</h1>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <form asp-action="ChangePassword" method="post" class="p-4 border rounded shadow-lg bg-white">

                @if (ViewBag.Error != null)
                {
                    <div class="text-danger mb-3 text-center">@ViewBag.Error</div>
                }

                <div class="mb-3">
                    <label asp-for="Token" class="form-label fw-bold">Current Password</label>
                    <input asp-for="Token" class="form-control" type="password" />
                    <span asp-validation-for="Token" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="New" class="form-label fw-bold">New Password</label>
                    <input asp-for="New" class="form-control" type="password" />
                    <span asp-validation-for="New" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Confirm" class="form-label fw-bold">Confirm New Password</label>
                    <input asp-for="Confirm" class="form-control" type="password" />
                    <span asp-validation-for="Confirm" class="text-danger"></span>
                </div>

                <div class="mb-3 mt-4">
                    <div class="g-recaptcha" data-sitekey="6LdtozIsAAAAABVMetAM6zTwV_SIasaH3R_wxoGM"></div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-between mt-5">
                    <a asp-action="Profile" class="btn btn-secondary px-4">
                        <i class="fa fa-arrow-left"></i> Cancel
                    </a>
                    <button type="submit" class="btn btn-primary px-4">
                        <i class="fa fa-key"></i> Update Password
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        @* This is necessary for the [Compare("New")] attribute to work on the client side *@
        <partial name="_ValidationScriptsPartial" />
    }
}