@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: #fff;    
    justify-content: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    perspective: 1000px;
    margin-bottom: 10px;
}

.movie-container {
    margin: 20px 0;
}

    .movie-container select {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

.container {
    perspective: 1000px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat {
    background-color: #444451;
    height: 23px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px; 
}

    .seat.selected {
        background-color: #6feaf6;
    }

    .seat.occupied {
        background-color: #fff;
    }

    .seat:nth-of-type(2) {
        margin-right: 18px;
    }

    .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    .seat:not(.occupied):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

.showcase.seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

    .showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        .showcase li small {
            margin-left: 2px;
        }

.row {
    display: flex;
    justify-content: center;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 300px;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

    p.text span {
        color: #6faef6;
    }
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(4px);
}

.modal-content {
    background-color: #1e1e2f;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: #fff;
    text-align: center;
}

    .modal-content h2 {
        margin-bottom: 15px;
    }

    .modal-content button {
        background-color: #6feaf6;
        border: none;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .modal-content .close {
        color: #fff;
        float: right;
        font-size: 25px;
        cursor: pointer;
    }

#qrCode canvas {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
}
