.checkout {
    display: flex;
    position: fixed;
    background: rgb(50,50,50);
    width: 100%;
    z-index: 100;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.term{
    width: 68%;
    padding: 20px;
    margin: 25px;
    margin-right: 2%;
    font-size: 18px;
    color: rgb(250, 250, 250);
}

.checkoutbtn{
    background: yellow;
    border: none;
    padding: 20px;
    margin: 25px;
    border-radius: 20px;
}

.checkoutbtn > *{
    margin: 8px;
}

.changeRow{
    display: flex;
}

.changeRow > *{
    width: 50%;
}

.displayPrice{
    text-align: right;
}

.method > * {
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 15px;
}

.method div {
    display: flex;
}

.method > div > div {
    width: 20%;
    border: 1px solid black;    
    border-radius: 5px;
    margin-right: 10px;
    padding: 2px 10px;
}

.method > div > div > input{
    margin-right: 5px;
}

.paymentMethod {
    width: 100%;
    display: flex;
    padding: 10px;
}

.paymentDetail, .transDetail {
    margin: 20px;
    padding: 30px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

.paymentDetail{
    width: 60%;
}

.transDetail {
    width: 40%;
}

.paymentInput input{
    padding: 5px;
    border: 1px gray solid;
    border-radius: 5px;
}

.paymentInput div{
    margin-top: 10px;
}

.paymentInput > input[type=text]{
    width: 42%;
}

.paymentInput > div > input{
    width: 20%;
}

.paybtn{
    position: absolute;
    right: 0;
    margin: 10px;
    margin-bottom: 40px;
}

.paybtn button{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
    background-color: #d96c2c;
}