@model MovieListVM

<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Now Showing</h3>

        <form data-ajax="true" data-ajax-update="#movieTarget" data-ajax-loading="#loader"
              asp-action="Index" method="get" class="d-flex" id="searchForm">
            <input type="text" name="name" id="nameInput" class="form-control me-2"
                   placeholder="Search movies..." style="width: 250px;" value="@Model.SearchName">
        </form>
    </div>

    <div id="loader" style="display:none;" class="text-center mb-3">
        <img src="~/img/loader.gif" width="50" />
    </div>

    <div id="movieTarget">
        <partial name="_UserMovieGrid" model="Model" />
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        // Search-as-you-type logic
        let timer = null;
        $('#nameInput').on('input', function () {
            clearTimeout(timer);
            timer = setTimeout(() => {
                $('#searchForm').submit();
            }, 500); // 500ms delay
        });
    </script>
}