@model MovieListVM

<div class="container-xl pt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Movie Management</h1>
        <a href="/Movie/UpsertMovie" class="btn btn-primary">Add New Movie</a>
    </div>

    <form data-ajax="true" data-ajax-update="#movieTableTarget" data-ajax-loading="#loader"
          method="get" asp-action="Movies" id="searchForm" class="mb-4">
        <div class="input-group">
            <input type="text" name="name" id="nameInput" class="form-control" placeholder="Search by title or genre..." autofocus />
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </form>

    <div id="loader" style="display:none;" class="text-center mb-3">
        <img src="~/img/loader.gif" width="40" />
    </div>

    <div id="movieTableTarget">
        <partial name="_MovieTable" model="Model" />
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        // Search-as-you-type (Demo 2 improved)
        let timer = null;
        $('#nameInput').on('input', function() {
            clearTimeout(timer);
            timer = setTimeout(() => {
                $(this).closest('form').submit();
            }, 500); // 500ms delay
        });
    </script>
}